* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: rgb(34, 30, 54);
}
.container {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #fff;
}
.cabecera {
  display: flex;
  flex-direction: row;
  padding: 4px 0px;
  background-color: rgb(47, 58, 141);
  text-align: center;
  color: #fff;
}
.cabecera--logo{
  width: 40%;
  background-image: url("./imagenes/dragon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.cabecera--content{
  width: 60%;
  text-align: left;
}
.post {
  padding: 0px 4px;
}
footer {
  width: 100%;
  height: 40px;
  background-color: rgb(22, 63, 110);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:  center;
  line-height: 40px;
  letter-spacing: 1.5px;
  color: #fff;  
}
footer span.developer {
  color: rgb(201, 106, 180);
  text-shadow: 1px 1px 3px rgb(216, 45, 110);
}